doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Klostermark Accounting
    meta(name="viewport", content="width=device-width")
    meta(name="description", content="Klostermark är en personlig, snabb och nytänkande affärspartner.")
    meta(name="keywords", content="Klostermark, Klostermark Accountion, revisor, redovisningskonsult, redovisningsbyrå, bokföring, redovisning, revisor Stockholm, redovisningsbyrå Stockholm")
    meta(name="author", content="https://plus.google.com/106836288107436198762")


    meta(property="og:title", content="Klostermark Accounting")
    meta(property="og:description", content="Klostermark är en personlig, snabb och nytänkande affärspartner.")
    meta(property="og:url", content="http://klostermark.se")

    link(rel="dns-prefetch", href="http://ajax.googleapis.com")
    link(rel="dns-prefetch", href="http://www.google-analytics.com/ga.js")
    link(rel="author", href="https://plus.google.com/112416945907493718478")

    link(rel="stylesheet", href="css/main.css")
    script(src="js/vendor/modernizr-2.6.2.min.js")

    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

  body
    //if lt IE 8
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>

    .jumbotron
      .container
        .contentwrap
          .row
            .navbar
              .navbar-inner
                .brand.pull-left
                ul.nav.pull-right
                  li
                    a(href="#about") Om Klostermark
                  li
                    a(href="#employers") Medarbetare
                  li
                    a(href="#customers") Kunder
                  li
                    a(href="#services") Tjänster
                  li
                    a(href="#contact") Kontakt

            a.workforus(href="#lookforemployees")
              span Vi söker kollegor!
            .span12
              h1 Den personliga, snabba <br>&amp; nytänkande affärspartnern
              a.btn.btn-large.btn-email(href="mailto:info@klostermark.se")
                <i class="icon-electronicmail"></i>Kontakta Oss!

    .about#about
      .container
        .row
          .span6
            hr
          .span12
            h1 Om Klostermark
        .row
          .span7
            h3 Vi är en snabb och nytänkande ekonomipartner. Vi vill att våra kunder ska se oss som sin egen ekonomiavdelning. Tack vare smarta och enkla arbetssätt kan vi erbjuda full service på ett effektivt sätt.
        .row
          .span5
              p Vi är en snabb och nytänkande ekonomipartner. Vi vill att våra kunder ska se oss som sin egen ekonomiavdelning, att våra uppdrag bygger på nära samarbete och att våra kunder ska känna sig trygga i att vi kan ta ansvar och ge råd i alla delar av den ekonomiska hanteringen. Tack vare smarta och enkla arbetssätt kan vi erbjuda full service på ett effektivt sätt. 

              p Klostermark Accounting bildades i januari 2012 och har kontor i Stockholm. Idén är att erbjuda kvalificerade tjänster och enkla arbetssätt som gör ekonomin till en viktigare och mer inspirerande del i kundernas vardag ochlångsiktiga planering.
          .span5.exstended-margin
              p Klostermark bygger sin service kring ny teknik som gör ett nära samarbete enkelt och effektivt. Vi har idag ett trettiotal kunder. Våra uppdrag spänner över små- och medelstora bolag inom branscher som PR, bygg, resor, handel, restaurang och arkitektur.
              p Uppdragen är av varierande karaktär, ofta innebär det att Klostermark har helhetsansvar för den ekonomiska hanteringen, ibland enskilda insatser som bokslut och årsredovisningar. Oavsett uppdragets karaktär ska vi alltid ge hög service och kvalitet på ett enkelt sätt.
              p
                strong Vi är nyfikna på dig, din verksamhet och era utmaningar.

    .employers#employers
      .container
        .row
          .span6
            hr
          .span12
            h1 Medarbetare
          .span4.offset1
            img.img-circle(src="img/lenita.jpg", width="300", height="300", alt="Lenita Larsson")
          .span4.offset2
            img.img-circle(src="img/angela.jpg", width="300", height="300", alt="Angela Löthwall")
          .span6
            h2 Lenita Larsson, grundare
            p Lenita Larsson grundade Klostermark Accounting i januari 2012 efter att ha arbetat som ekonomiansvarig för en nordisk koncern i resebranschen. ”Möjligheten att kunna hjälpa fler företag, stora som små, att vidareutveckla sin verksamhet var det som lockade”, säger Lenita.
          .span6
            h2 Angela Löthwall, redovisningskonsult
            p På sin universitetsutbildning märkte Angela Löthwall snabbt att hon hade en passion för siffror och struktur. Hon är van att ha många bollar i luften och trivs att arbeta i ett högt tempo. För Angela är personlig service viktigt och något som man alltid har tid med.

          .span12
            .buttonwrap
              .collapse#readmore
                .row
                  .textwrap
                    .span6
                      p <strong>Gillar att: </strong> Hjälpa våra kunder att koppla samman den löpande bokföringen med hur de kan analysera och effektivisera sin verksamhet. Jag är en arbetsmyra som hela tiden vill hålla ett högt tempo. 
                      p <strong>Är bra på: </strong> Problemlösning och att ifrågasätta processer för att effektivisera arbetsgången.
                      p <strong>Tycker att: </strong> Struktur och rutin är viktigt i arbetet. Standardiseringen kapar många onödiga moment och man kan spara mycket tid och pengar på att identifiera alla steg i en process. Viktigt för oss är att hjälpa våra kunder att arbete så enkelt som möjligt.
                      p <strong>Jag vill: </strong> Alltid att våra kunder ska vara 100% nöjda med oss som ekonomipartner och brinner för att hjälpa till och göra det lilla extra.
                    .span6
                      p <strong>Gillar att: </strong> Kombinera kundkontakt med administrativt arbete. Att lära mig nya saker, det får mig att sporras i mitt arbete och aldrig tröttna.
                      p <strong>Är bra på: </strong> Jag är initiativtagande och bra på att tänka utanför boxen och komma med kreativa lösningar.
                      p <strong>Tycker att: </strong> Det är roligt att se hur olika företag jobbar. Det gör att vi lär oss nya saker varje dag som vi sedan kan jobba med för att effektivisera våra andra kunders verksamheter. 
                      p <strong>Jag vill: </strong> Att våra kunder ska våga fråga, det är viktigt att de har koll på sin redovisning.
              button.btn.btn-readmore(type="button", data-toggle="collapse", data-target="#readmore")
                span.button LÄS MER
                span.hide.button STÄNG

    .lookforemployees#lookforemployees
      .container
        .row
          .span6
            hr
          .span12
            h1 Vi söker kollegor
          .span5
            p Är du en vass, driven och entusiastisk ekonom? Då är du rätt för oss. Vi på Klostermark Accounting erbjuder nytänkande redovisningstjänster. Vi är ett ungt företaqg som växer snabbt och nu söker vi nya kollegor. Vi tänker oss att du är redovisningskonsult och en inspirerande kollega. Hos oss får du sporrande utmaningar, utvecklande arbetsuppgifter och en trevlig arbetsmiljö.
            p Intresserad? Maila!
          .span3.offset1
            a.btn.btn-large.btn-email(href="mailto:info@klostermark.se")
              <i class="icon-electronicmail"></i>info@klostermark.se

    .customers#customers
      .container
        .row
          .span6
            hr
          .span12
            h1 Kunder och Referenser
          .span8
            h3 Nedan kan du läsa vad våra kunder säger om oss. Klicka på ‘Läs mer’ för att få upp ännu fler kunder och referenser till oss.
          .span12
            // Img slider
            .carousel.slide#myCarousel
              // Img slider content goes here
              .carousel-inner
                .active.item
                  .media
                    .span10.offset1
                      span.media-object.pull-left.entreprenorskyrkancarousel
                      .media-body
                        p.quote <br> ”Klostermark är personliga, flexibla och samtidigt oerhört <br> professionella. Genom att lägga ekonomin i deras händer sparar <br> vi både tid och pengar och kan lugnt koncentrera oss på annat”
                .item
                  .media
                    .span10.offset1
                      span.media-object.pull-left.snorisarcarousel
                      .media-body
                        p.quote <br> ”Ring mig så ska jag berätta hur jäkla nöjd jag är”
                .item
                  .media
                    .span10.offset1
                      span.media-object.pull-left.lowen-widmancarousel
                      .media-body
                        p.quote <br> ”Klostermark Accounting ger oss möjlighet att fokusera på det<br> vi är bra på, nämligen att rita hus”
                .item
                  .media
                    .span10.offset1
                      span.media-object.pull-left.loupecarousel
                      .media-body
                        p.quote <br> ”Lenita och Angela är snabba, proffsiga och fulla av idéer”

                .item
                  .media
                    .span10.offset1
                      span.media-object.pull-left.horncarousel
                      .media-body
                        p.quote <br> Klostermark Accounting har hjälpt oss att få ordning på våra siffror och bättre översikt och kontroll över verksamheten, samt tillgång till bättre statistik.

              a.carousel-control.left(href="#myCarousel", data-slide="prev")&lsaquo;
              a.carousel-control.right(href="#myCarousel", data-slide="next")&rsaquo;

          .span12
            .buttonwrap
              .collapse#morecustomers
                .row
                  .span4.offset1
                    a(href="http://hornwines.com") &nbsp;
                      .hornwines
                    a(href="http://thingsquare.com")
                      .thingsquare
                    a(href="http://lowenwidman.se")
                      .lowen-widman
                    a(href="http://snorisar.se")
                      .snorisar
                    a(href="http://www.loupecommunications.se")
                      .loupe
                  .span4.offset2
                    a(href="http://entreprenorskyrkan.se")
                      .entreprenorskyrkan
                    a(href="http://toccocreative.com")
                      .tocco
                    a(href="http://greencup.se")
                      .greencup.pull-left
                    a(href="http://www.prolyde.se")
                      .prolyde.pull-right

              button.btn.btn-readmore(type="button", data-toggle="collapse", data-target="#morecustomers")
                span.button LÄS MER
                span.hide.button STÄNG

    .services#services
      .container
        .row
          .span6
            hr
          .span12
            h1 Tjänster
          .span12
            h3 Vi kan erbjuda våra kunder helhetslösningar och enskilda tjänster. <br> Bland annat kan vi hjälpa dig med:
          .span5
            ul
              li Löpande bokföring/redovisning
              li Kund- och leverantörsreskontra
              li Löneadministration
              li Skattedeklarationer, moms och arbetsgivaravgifter
              li Del- och helårsbokslut
          .span5
            ul
              li Årsredovisning
              li Avstämningar
              li Budget
              li Ekonomisk rådgivning

    .footer#contact
      .container
        .row
          .span6
            hr
          .span12
            h1 Kontakta oss
          .span4
            div(itemscope, itemtype="http://schema.org/Organization")
              p.adress 
                span(itemprop="name") Klostermark Accounting
                br
                span(itemprop="streetAddress") Igeldammsgatan 22A, ing. 6a 3tr
                br
                span(itemprop="postalCode") 112 49
                span(itemprop="addressLocality")  Stockholm

              p.adress 
                span(itemprop="tel") Telefon:&nbsp;
                  a(href="tel:0868442500") 08-684 425 00
                br
                span(itemprop="email") Epost:&nbsp;
                  a(href="mailto:info@klostermark.se") info@klostermark.se

              p.social
                a(href="http://facebook.com/KlostermarkAccounting")
                  img(src="img/ico-fb.png")
                a(href="http://www.linkedin.com/company/klostermark-accounting")
                  img(src="img/ico-linkedin.png")
                a(href="http://twitter.com/klostermarkacc")
                  img(src="img/ico-twitter.png")
                a(href="https://plus.google.com/106836288107436198762", rel="author")
                  img(src="img/ico-plus.png") 


          .span5.offset3
            a(href="http://maps.google.com/maps?q=Igeldammsgatan+22A++112+49+Stockholm",target="_blank")
              img(src="http://cloudfront.klostermark.se/img/map-20121210.png", width="380", height="311", alt="Karta över Klostermarks adress.")
          
          .span12
            .tothetop
              a.uparrow(href='#top')
              a(href='#top') TILL TOPPEN

    // Les JS goes here
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
    script(src="js/bootstrap.js")
    script(src="js/main.js")
    script
      var _gaq=[['_setAccount','UA-36911638-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    script
      _jssX = {v:2};
      (function(id){
      var e = encodeURIComponent, d = document, s = d.createElement("script"), x,
        p = d.getElementsByTagName("script")[0], c = d.cookie?d.cookie.split(";"):[],
        a = ["i="+id,"r="+e(d.referrer),"u="+e(d.location),"d="+new Date().getTime()];
      while (c.length) { x = c.pop().replace(/^ /,"").split("=");
        if (x[0].match(/^_jss_/)) a.push(x[0]+"="+x[1]); }
      s.type = "text/javascript"; s.async = true;
      s.src = location.protocol+"//jss.jajja.com/jss?"+(_jssX._qparam=a.join("&"));
      p.parentNode.insertBefore(s, p);
      }("DP6iijjpfgeYnDan"));